
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <php>
        <!-- Enter the name of your main plugin file here -->
        <env name="PLUGIN_FILE" value="sqrl-login.php"/>
    </php>
    <testsuites>
        <testsuite name="default">
            <directory prefix="test-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>sqrl-login.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./mainreport" lowUpperBound="50" highLowerBound="80" />
    </logging>
</phpunit>